*{ 
    font-family: 'Open Sans', sans-serif;
}
.Green{
    color: #59A650;
}
.Main_Container{
    display: flex;
    flex-wrap: nowrap; /*for now*/
    background-image:url(background/shore.jpg);
}
.Nav_Tab_Container{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh ;
    align-content: center;
    justify-content: center; /*makes the navbar centered vertically*/
}
.Nav_Tab_OFF{
    float: left;
    
    margin-right: 20px;
    margin-top: 13px;
    padding: 10px;
    border-right: solid 2px #59A650;
    color: #59A650;
}
.Nav_Tab_ON{
    float: left;
    
    margin-right: 20px;
    margin-top: 13px;
    padding: 10px;
    border-right: solid 2px #59A650;
    color: white;
    background-color: #59A650;
    
}
.Nav_Tab_STATIC{
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px;
    border-right: solid 2px #59A650;
    color: #59A650;
}
.Content_Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-left: solid 1px black;
    width: auto;
    
}
.Comment_Large{
    font-size: 1.2em;
}
.Comment_Small{
    font-size: .8em;
}
#Home_Page{
    
    font-size: 1.4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#Contact_Page{
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}
#Experience_Page{
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.Experience_Box{
    min-width: 10px;
    margin: 10px;
    padding: 10px;
    min-width: 200px;
    max-width: 350px;
    min-height: 200px;
    border: solid 1px #59A650;
    text-align: center;
}
.Page_Title {
    font-size: 1.2em;
    margin-bottom: 4px;
    padding: 3px;
}

#Skills_Container {
    /*height: 100vh;*/
    margin: 10px;
    min-width: 200px;
    min-height: 200px;
    padding: 10px;
    display: flex;
    /*  justify-content: flex-start;*/
    flex-direction: column;
    align-items: center;
    border: solid 1px #59A650;
    
}
